<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homework.mybatis.user.UserDao">

    <!-- 사용자 전체 조회 -->
    <select id="list" resultType="user">
        select *
        from user
        where quit = 0
    </select>

    <!-- 사용자 존재 조회 -->
    <select id="findCountByIdAndAccountType" resultType="int">
        select count(*)
        from user
        where id           = #{id}
         and  account_type = #{account_type}
         and quit = 0
    </select>


    <!-- 사용자 상세 조회 -->
    <select id="findById" parameterType="user" resultType="int">
        select *
        from user
        where id=#{id}
    </select>

    <select id="findCountById" parameterType="user" resultType="int">
        select count(*)
        from user
        where id=#{id}
    </select>


    <!-- 사용자 가입 -->
    <insert id="userCreate" parameterType="user">
        insert into user(nickname, account_type)
        values(#{nickname}, #{account_type})
    </insert>

    <!-- 사용자 닉네임 수정 -->
    <update id="userNickNameUpdate" parameterType="user">
        update user
         set nickname = #{nickname}
        where id = #{id}
    </update>

    <!-- 사용자 삭제 -->
    <update id="userDelete" parameterType="user">
        update user
         set quit = 1
        where id = #{id}
         and  account_type = #{account_type}
         and quit = 0
    </update>

    <!-- 사용자 복귀 -->
    <update id="userRecovery" parameterType="user">
        update user
        set quit = 0
        where id = #{id}
         and  account_type = #{account_type}
         and quit = 1
    </update>

</mapper>